:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--box-background-color);
  border: 1px solid var(--border-color);
  flex: 1 1;
  min-width: 250px;
  max-height: 100%;
  border-radius: 4px;
  position: relative;
  cursor: move;
  scroll-snap-align: start;
}

/* card min-width * 2 */
@media (max-width: 500px) {
  :host {
    min-width: 100%;
  }
}

:host(.dragged) {
  opacity: 0.5;
}

:host(.dragged) .list-items {
  display: none;
}

:host(.dragover)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.5em;
  height: 100%;
  margin-left: -2px;
  border-left: 2px dashed var(--link-color);
}

.list-progress {
  -webkit-appearance: none;
  border: none;
  background: none;
  height: 2px;
  margin-bottom: -2px;
  padding: 0;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  overflow: hidden;
  flex-shrink: 0;
}

.list-progress::-webkit-progress-bar {
  background-color: transparent;
}

.list-progress::-webkit-progress-value {
  background-color: #0a84ff;
}

.list-progress::-moz-progress-bar {
  background-color: #0a84ff;
}

.list-header {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: flex-start;
}

.list-items {
  flex: 1 1;
  overflow: auto;
}

.list-name,
.list-count,
.list-delete,
.list-edit {
  padding: 1em 0.5em;
  flex-shrink: 0;
}

.list-name {
  padding-left: 1em;
  flex: 1 1;
  font-weight: bold;
}

.list-edit {
  padding-right: 1em;
}

.list-delete,
.list-edit {
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
  display: inline-block;
  line-height: 0;
}

.list-delete::before,
.list-edit::before {
  content: "";
  display: inline-block;
  background-size: cover;
  width: 1.145em;
  height: 1.145em;
  border-radius: 2px;
}

.list-delete:not(:hover):not(:focus),
.list-edit:not(:hover):not(:focus) {
  opacity: 0.8;
}

.list-delete:focus::before,
.list-edit:focus::before {
  box-shadow: 0 0 0 2px #333;
}

.list-delete::-moz-focus-inner,
.list-edit::-moz-focus-inner {
  border: none;
}

@media (prefers-color-scheme: dark) {
  .list-delete,
  .list-edit {
    filter: invert(1);
  }
}

.list-delete::before {
  background-image: url(../img/delete.svg);
}

.list-edit::before {
  background-image: url(../img/edit.svg);
}

.list-status:not(:empty),
.list-items:not(:empty) {
  padding: 1em;
  padding-top: 0;
}

.list-status:not(:empty) {
  display: block;
}

.list-items:not(:empty) {
  cursor: initial;
  padding-bottom: 0;
}

/* Bug cards */

.bug {
  background-color: var(--card-background-color);
  border-left: 4px solid #058b00;
  border-radius: 4px;
  box-shadow: rgba(12, 12, 13, 0.1) 0px 1px 4px;
  color: inherit !important;
  text-decoration: none;
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  overflow: hidden;
}

.bug.resolved {
  border-left-color: #0a84ff;
}

.bug:focus {
  outline: 2px solid currentColor;
  outline-offset: -1px;
  -moz-outline-radius: 4px;
}

.bug:first-child {
  margin-top: 1px;
}

.bug > * {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-size: 0.9em;
}

.bug > *:not(:empty):not(:last-child) {
  margin-bottom: .67em;
}

.bug > [data-label]:not(:empty)::before {
  opacity: 0.78;
  content: attr(data-label) ": ";
}

.bug-title {
  font-size: 1.1em;
  margin-top: 0;
}

.bug-component {
  border-radius: 4px;
  padding: 0.25em 0.5em;
  display: inline-block;
}
