:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--box-background-color);
  border: 1px solid var(--border-color);
  flex: 1 1;
  min-width: 250px;
  max-height: 100%;
  border-radius: 4px;
  position: relative;
  cursor: move;
  scroll-snap-align: start;
}

/* card min-width * 2 */
@media (max-width: 500px) {
  :host {
    min-width: calc(100% - 1.1em); /* For drag and drop */
  }
}

:host(.dragged) {
  opacity: 0.5;
}

:host(.dragged) .list-items {
  display: none;
}

:host(.dragover)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.5em;
  height: 100%;
  margin-left: -2px;
  border-left: 2px dashed var(--link-color);
}

.list-header {
  display: flex;
  padding: 1em;
}

.list-items {
  flex-grow: 1;
  overflow: auto;
}

.list-name {
  flex: 1 1;
  font-weight: bold;
}

.list-delete,
.list-edit {
  cursor: pointer;
  background: none;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  margin-left: 1em;
  width: 1.15em;
  height: 1.15em;
  font-size: inherit;
  padding: 0;
  display: inline-block;
}

.list-delete:not(:hover):not(:focus),
.list-edit:not(:hover):not(:focus) {
  opacity: 0.8;
}

@media (prefers-color-scheme: dark) {
  .list-delete,
  .list-edit {
    filter: invert(1);
  }
}

.list-delete {
  background-image: url(../img/delete.svg);
}

.list-edit {
  background-image: url(../img/edit.svg);
}

.list-status:not(:empty),
.list-items:not(:empty) {
  padding: 1em;
  padding-top: 0;
}

.list-status {
  display: block;
}

.list-items {
  cursor: initial;
}

/* Bug cards */

.bug {
  background-color: var(--card-background-color);
  border-left: 4px solid #058b00;
  border-radius: 4px;
  box-shadow: rgba(12, 12, 13, 0.1) 0px 1px 4px;
  color: inherit !important;
  text-decoration: none;
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  overflow: hidden;
}

.bug.resolved {
  border-left-color: #a4000f;
}

.bug:last-child {
  margin-bottom: 0;
}

.bug:focus {
  outline: 2px solid #0060df;
  outline-offset: -1px;
  -moz-outline-radius: 4px;
}

.bug > * {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.bug > *:not(:empty):not(:last-child) {
  margin-bottom: .67em;
}

.bug > [data-label]:not(:empty)::before {
  content: attr(data-label) ": ";
}

.bug-title {
  font-size: 1.1em;
  margin-top: 0;
}

.bug-component {
  border-radius: 4px;
  padding: 0.5em;
  display: inline-block;
}
