:root {
  --background-color: #fff;
  --text-color: #333;
  --link-color: #082840;
  --link-color-visited: #9248c8;
  --border-color: #dedede;
  --box-background-color: #f1f1f8;
  --card-background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-color: #eee;
    --link-color: #45a1ff;
    --link-color-visited: #c876ff;
    --border-color: #555;
    --box-background-color: #111;
    --card-background-color: #555;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font: message-box;
  font-size: 14px;
  margin: 0;
  padding: 2em;
}

a:any-link {
  color: var(--link-color);
}
a:any-link:visited {
  color: var(--link-color-visited);
}
a:any-link:not(:hover) {
  text-decoration: none;
}

#header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.loading #status::before {
  content: "Loading...";
}

#status {
  margin-top: 2em;
  font-weight: bold;
}

.loading #boards,
#status:not(:empty) + #boards {
  display: none;
}

#query {
  background-color: var(--box-background-color);
  border: 2px solid var(--border-color);
  border-radius: 4px;
  color: inherit;
  flex-grow: 1;
  padding: 1em;
  width: 40ch;
  max-width: 100%;
  font: inherit;
  display: block;
}

#query:focus {
  border-color: #0060df;
}

#boards {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 2em;
}

.board {
  display: block;
  background-color: var(--box-background-color);
  border: 1px solid var(--border-color);
  flex: 1 1;
  min-width: 200px;
  border-radius: 4px;
  padding: 1em;
}

.bug {
  color: inherit !important;
  text-decoration: none;
  display: block;
  background-color: var(--card-background-color);
  border-radius: 4px;
  box-shadow: rgba(12, 12, 13, 0.1) 0px 1px 4px;
  margin: 1em 0;
  padding: 1em;
  overflow: hidden;
}

.bug:focus {
  outline: 3px solid #0060df;
  -moz-outline-radius: 4px;
}

.bug > * {
  overflow: hidden;
  text-overflow: ellipsis;
}

.bug-type,
.bug-assignee,
.bug-keywords {
  display: block;
}

.bug-title {
  font-size: 1.1em;
}

.bug-component {
  border-radius: 4px;
  padding: 0.5em;
  margin-top: 0.5em;
  display: inline-block;
}

.board::before {
  content: attr(data-title);
  display: block;
  font-weight: 500;
}

.board:empty::after {
  content: "No results";
  display: block;
  margin-top: 1em;
}